<div class="container">
  <table class="table" >
    <tr class="bluebackground">
      <th>comicTitleEn</th>
      <th>comicTitleDe</th>
      <th>comicReihe</th>
      <th>volume</th>
      <th>issue</th>
      <th>SerialNumber</th>
      <th>publisher</th>
      <th>cgcGrade</th>
    </tr>
    <tr class="tr-data" *ngFor="let comic of comics">
      <td> {{comic.comicTitleEn}}</td>
      <td> {{comic.comicTitleDe}}</td>
      <td> {{comic.comicReihe}}</td>
      <td> {{comic.volume}}</td>
      <td> {{comic.issue}}</td>
      <td> {{comic.serialNumber}}</td>
      <td> {{comic.publisher}}</td>
      <td> {{comic.cgcGrade}}</td>
    </tr>
  </table>
</div>


