table, th, td, tr{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;

}
.bluebackground{
  color: white;
  background-color: #293436;
}
.tr-data:nth-child(even) {
  background-color: #93BBC0;
}
.tr-data:nth-child(odd){
  background-color: #BCEEF5;
}
.tr-data:hover{
  background-color: #5A7275;
}
.container{
  width: 100%;

  text-align: center;
}
.table{
  margin: auto;
  margin-top: 10px;
}





