<h1>Home-Seite</h1>
<label for=""> Comic name in English:</label>
<br>
<input [(ngModel)]="comicTitleEn" type="text">
<br>{{comicTitleEn}}
<br>
<label for=> Comic name in Deutsch:</label>
<br>
<input [(ngModel)]="comicTitleDe" type="text">
<br>{{comicTitleDe}}
<br>
<label for=> Comicreihe:</label>
<br>
<input [(ngModel)]="comicReihe" type="text">
<br> {{comicReihe}}
<br>
<label for=> volume: </label>
<br>
<input  [(ngModel)]="volume" type="text">
<br>{{volume}}
<br>
<label for=""> issue:</label>
<br>
<input [(ngModel)]="issue" type="text">
<br> {{issue}}
<br>
<label for="">Serialnummer:</label>
<br>
<input [(ngModel)]="SerielNumber" type="text">
<br> {{SerielNumber}}
<br>
<label  for="">publisher:</label>
<br>
<input [(ngModel)]="publisher" type="text">
<br>{{publisher}}
<br>
<label for="">cgcGrade:</label>
<br>
<input [(ngModel)]="cgcGrade" type="text">
<br> {{cgcGrade}}


<button (click)="submit()">Button</button>
























