<div class="form"><h1>Home-Seite</h1>
  <div class="form-element">
    <label for=""> Comic Name in Englisch:</label>
    <br>
    <input [(ngModel)]="comicTitleEn" type="text" placeholder="Hulk">
  </div>
  <br>
  <div class="form-element">
    <label for=> Comic Name in Deutsch:</label>
    <br>
    <input [(ngModel)]="comicTitleDe" type="text" placeholder="Hulk">
  </div>
  <br>
  <div class="form-element">
    <label for=> Comicreihe:</label>
    <br>
    <input [(ngModel)]="comicReihe" type="text" placeholder="The incredible Hulk">
  </div>
  <br>
  <div class="form-element">
    <label for=> Volume: </label>
    <br>
    <input [(ngModel)]="volume" type="text" placeholder="2">
  </div>
  <br>
  <div class="form-element">
    <label for=""> Issue:</label>
    <br>
    <input [(ngModel)]="issue" type="text" placeholder="8">

  </div>
  <br>
  <div class="form-element">
    <label for="">Seriennummer:</label>
    <br>
    <input [(ngModel)]="SerielNumber" type="text" placeholder="7359661">
  </div>
  <br>
  <div class="form-element">
    <label for="">Verlag:</label>
    <br>
    <input [(ngModel)]="publisher" type="text" placeholder="Marvel Comics">
  </div>
  <br>
  <div class="form-element">
    <label for="">CGC-Grade:</label>
    <br>
    <input [(ngModel)]="cgcGrade" type="text" placeholder="6.5">
  </div>


  <button (click)="submit()">Senden</button>

  <button class="runaway-button" (click)="clear()" (mouseenter)="runaway($event)">
    Löschen
  </button>

</div>























