<h1 class="mittig">Gaia</h1>
<p>Etwas über mich:</p>
Name:
<div class="fancyname">Gaia</div>
<p>-Alter: 13</p>
<p class="mittig">-Hobbies:</p>
<ul>
  <li>Unterwasserhockey</li>
  <li>Baskettball</li>
  <li>Rettungschwimmen</li>
  <li>Mit Hund spielen,gassi gehen usw.</li>
  <li>Mit Freunden treffen</li>
  <li>Lesen( Romane, Krimis, Action</li>
  <li>Musik hören</li>
</ul>
<img src="https://www.vdh.de/fileadmin/images/welpen/rasseportraits/grosser_schweizer_sennenhund/11.jpg" height="100px"
     alt="" srcset="">
<br>
<b>Unser Hund heisst Newton und ist weiblich</b>
<br>
<i> Alle denken sie sei ein Mänchen auf grund von ihrem namen</i>
<hr>
<br>
<p>E-mail adresse:</p>
<input type="email">
<p>Password</p>
<input type="password">
<p>Name:</p>
<input type="text">
<p>Alter:</p>
<input
  type="date">














