
<h1>Überschrift Level 1</h1>
<p>
  Das ist ein h1 Tag. Er wird für die Hauptüberschrift einer Seite verwendet.
</p>

<h2>Überschrift Level 2</h2>
<p>
  Das ist ein h2 Tag. Er wird für Unterüberschriften verwendet, die dem h1-Tag untergeordnet sind.
</p>

<h3>Überschrift Level 3</h3>
<p>
  Das ist ein h3 Tag. Er wird für weitere Unterüberschriften verwendet, die dem h2-Tag untergeordnet sind.
</p>

<h4>Überschrift Level 4</h4>
<p>
  Das ist ein h4 Tag. Er wird für weitere Unterüberschriften verwendet, die dem h3-Tag untergeordnet sind.
</p>

<h5>Überschrift Level 5</h5>
<p>
  Das ist ein h5 Tag. Er wird für weitere Unterüberschriften verwendet, die dem h4-Tag untergeordnet sind.
</p>

<button>Klicken Sie auf mich</button>
<p>
  Das ist ein Button-Tag. Es wird verwendet, um eine Schaltfläche zu erstellen, die eine Aktion ausführt, wenn sie angeklickt wird.
</p>

<label for="text">Text:</label>
<input id="text" type="text">
<p>
  Das ist ein Input-Tag mit dem Typ text. Es wird verwendet, um ein Textfeld zu erstellen, in das Benutzer Text eingeben können.
</p>

<label for="num">Nummer:</label>
<input id="num" type="number">
<p>
  Das ist ein Input-Tag mit dem Typ number. Es wird verwendet, um ein Feld zu erstellen, in das Benutzer nur Zahlen eingeben können.
</p>

<label for="date">Datum:</label>
<input id="date" type="date">
<p>
  Das ist ein Input-Tag mit dem Typ date. Es wird verwendet, um ein Datumsauswahlsteuerelement zu erstellen.
</p>

<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a" >Dokumentation aller Tags</a>
